table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  color: #fff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.titleProducts {
  text-align: center;
  color: azure;
  padding: 10px;
}

.inputFormProduct {
padding: 8px;
}


