.topnav {
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a{
    float: left;
    color: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none; /*hide underline*/
    font-size: 17;
}

.topnav-signout {
    float: right !important;
}
body{
    background:linear-gradient(to right, rgb(54, 58, 54), rgb(116, 109, 109));
}
/* input styles */
.form-input{
    width: 100%;
    padding: 11px 100px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
  }

  select{
    width: 100%;
    padding: 11px 100px;
    border-radius: 4px;
    text-align-last:center;
  } 

.btn {
    padding: 7px 15px 7px 15px;
    border-radius: 4px;
    border: solid 1px;
}

.btn-primary {
    border-color: #f2f2f2;
    background-color: #000;
    color: #fff;
}

.btn-primary:hover {
    border-color: #f2f2f2;
    background-color: #636363;
    color: #fff;
}

.btn-danger{
    border-color: #f2f2f2;
    background-color: rgb(255, 104, 79);
    color: #fff;
}

.btn-danger:hover {
    border-color: #f2f2f2;
    background-color: rgb(247, 46, 11);
    color: #fff;
}

/*Modal*/
 .modal-header {
    padding: 2px 16px;
    background-color: #757a75;
    color: white;
  }
  
.modal-body {
    padding: 2px 16px;
}

.modal-buttons {
    margin-top: 15px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
}

.modal-content {
position: fixed;
top: 50%;
left: 50%;
background-color: #fefefe;
transform: translate(-50%, -50%);
margin: 0 auto;
padding: 0;
border: 1px solid #888;
width: 50%;
max-width: 500px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
animation-name: animatetop;
animation-duration: 0.8s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
} 
.btn-warning{
    border-color: #f2f2f2;
    background-color: #eebb4d;
    color: #fff;
}

